<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/logo_trasker.png" height=25 width=25></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateis('app')}"><a ui-sref="app">
                    <span class="glyphicon glyphicon-tasks"
                     aria-hidden="true"></span> Tasks</a></li>
                <!--<li ng-class="{active: stateis('app.dashboard')}"><a ui-sref="app.dashboard">
                    <span class="glyphicon glyphicon-dashboard"
                     aria-hidden="true"></span> Dashboard</a></li>
                <li ng-class="{active: stateis('app.mdash')}"><a ui-sref="app.mdash">
                     <span class="glyphicon glyphicon-equalizer"
                     aria-hidden="true"></span> M-Dashboard</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!loggedIn"><a ng-click="openLogin()">
                <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li ng-if="loggedIn">
                <a>Welcome {{username}}!</a>
                </li>
                <li ng-if="loggedIn">
                <a ng-click="logOut()">
                <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>         

<header class="jumbotron">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
        <div class="row row-header">
            <div class="col-sm-8">
                <h2>Trasker Web App</h2>
                <p>Track your tasks effortlessly with Trasker!</p>
            </div>
            <div class="col-sm-4">
                <a href="#"><span class="glyphicon glyphicon-plus-sign" ng-click="addTask()"</span></a>
            </div>
        </div>
        <div class="row">
          <div ng-repeat="options in stopwatches">
            <div bb-stopwatch options="options">
                <div class="container">
                    <div class="col-xs-12 col-sm-5">
                        <a href="#"><span class="glyphicon glyphicon-pause" ng-click="stopTimer(); updateTaskTime(options.diff)" aria-hidden="true"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-play" ng-click="startTimer()" aria-hidden="true"  style="padding-right: 15px"></span></a>
                      <div class="stopWatch numbers" style="padding: 10px">
                        {{options.elapsedTime | stopwatchTime}}
                       </div>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <h3 align="left">{{trackedTask.name}}<br>{{trackedTask.time_spent}}s spent</h3>
                    </div>
                </div>
            </div>
            <!--<div class="log" ng-repeat="log in options.log" ng-if="false">
                {{log/1000}} seconds
            </div>
              <div>
                Diff: {{options.diff}} seconds
            </div>-->
            </div>
        </div>
    </div>
</header>
