
<div class="container">
    <ul style="list-style-type:none">
    <li ng-repeat="task in tasks">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                <h2 align="left">{{task.name}}</h2>
                <h3 align="left">{{task.description}}</h3>
                <span class="col-sm-2">
                    <h3>{{task.time_spent}}s<br>spent</h3>
                </span>
                <span class="col-sm-2">
                    <div ng-if="task.hasForecast">
                    <h3>{{task.forecast}}%<br>forecast</h3>
                    </div>
                </span>
                <span class="col-sm-2">
                    <div ng-if="task.hasDeadline">
                    <h3>{{task.deadline}}<br>days to go</h3>
                    </div>
                </span>
                <span class="col-sm-2 col-sm-push-4">
                    <p><button class="btn btn-success" ng-click="trackIt(task.id)">track it!</button></p>
                    <!--<p><button class="btn btn-primary">subtask it!</button></p>-->
                </span>
                </div>
            </div>
        </div>
    </li>
    </ul>
</div>
