<div class="ngdialog-message">
    <div class="">
        <h3>Task Creation </h3>
    </div>
    <div class="">&nbsp;</div>
    <div class="">
        <form ng-submit="doNewTask()">
            <div class="form-group">
                <label class="sr-only" for="Task's name">Task's name</label>
                <input type="text" class="form-control input-sm" id="taskname" placeholder="Task's name" ng-model="mytask.name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="description">Description</label>
                <input type="text" class="form-control input-sm" id="description" placeholder="Description" ng-model="mytask.description">
            </div>
            <button type="submit" class="btn btn-info btn-sm">Create!</button>
            <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button>
        </form>
    </div>
    <div>

    </div>
</div>
